@model Student

<h2>In Craete </h2>

<form asp-action="Create" method="post">
    <div class="alert-danger" asp-validation-summary="All"></div>
    
    <label asp-for="Name"></label>
    <span class="text-danger" asp-validation-for="Name"></span>
    <input asp-for="Name" />

    <br />
    <label asp-for="Age">Student Age</label>
    <span class="text-danger" asp-validation-for="Age"></span>
    <input asp-for="Age" />
    <br />
    <button class="btn btn-primary" type="submit" >Add</button>
</form>